<table class="table table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Modified</th>
        <th>Synchronized</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="group in groups">
        <td><a href="#{{paths.groups}}/{{group.name | escape}}">{{group.name}}</a></a></td>
        <td>{{group.dateModified | date:'medium'}}</td>
        <td>{{group.dateSynchronized | date:'medium'}}</td>
        <td><button ng-click="removeGroup(group)">Remove</button></td>
    </tr>
    </tbody>
</table>

<div>
  <form name="form1">
    <input type="text" ng-model="groupName" required>
    <button ng-click="addGroup()" ng-disabled="form1.$invalid">Add</button>
  </form>
</div>