<h1>{{group.name}}</h1>
<div>
  Modified: <span ng-bind-html="group | dateModified"></span>
</div>
<div>
  Sync: <span ng-bind-html="group | dateSynchronized"></span>
</div>

<dl>
    <dt>Members</dt>
    <dd ng-repeat="member in group.members">
      <i class="icon-remove cursor-click" ng-click="removeMember(member)"></i> {{member}}
    </dd>
    <dd ng-hide="group.members"><em>No members yet</em></dd>
</dl>

<div>
  <form name="form1">
    <input type="text" ng-model="newMember" required>
    <button ng-click="addMember()" ng-disabled="form1.$invalid">Add Member</button>
  </form>
</div>